In [1]:
# Importar las librerías necesarias para mostrar contenido en Markdown
from IPython.display import display, Markdown

# Muestra el título del proyecto
display(Markdown("# **H1 SISTEMAS DE GESTIÓN EMPRESARIAL**"))

# Muestra la imagen (asegúrate de que el archivo esté en la misma carpeta que el notebook)
display(Markdown("![Portada del Proyecto](portada.jpg)"))

# Muestra el autor y la fecha
display(Markdown("## **Autor:** Adrián López Moya"))
display(Markdown("## **Fecha:** 28 de octubre de 2024"))
display(Markdown("## **Asignatura:** Sistemas de Sestión Empresarial"))
display(Markdown("## **Campus FP**"))

# Muestra la descripción del proyecto
display(Markdown("""
Introducción

El presente trabajo consiste en el desarrollo de una serie de ejercicios diseñados para abordar de forma práctica el análisis y procesamiento de datos 
mediante Python, así como para introducir conceptos fundamentales de la Programación Orientada a Objetos (POO). En primer lugar, se exploran técnicas 
para la creación y limpieza de un dataset, donde se trabaja con datos estadísticos descargados del Instituto Nacional de Estadística (INE). 
Este proceso incluye el tratamiento de valores nulos y la validación de datos, elementos críticos para asegurar la calidad y coherencia de la información en
los análisis posteriores.

Posteriormente, se implementan transformaciones y operaciones estadísticas para extraer información relevante, como la media, varianza y moda de los
datos, que permiten una mejor comprensión de las características del dataset. La última parte del trabajo introduce la POO, donde se diseñan clases y
métodos específicos para representar y manipular los datos de manera estructurada y reutilizable, facilitando su aplicación en sistemas de mayor
complejidad.

Cada ejercicio también incluye una reflexión teórica y práctica, donde se exploran y comparan distintos métodos de limpieza y organización de datos,
así como el impacto de la POO en la eficiencia de los procesos de manejo de información. En conjunto, estas actividades proporcionan una sólida base
para el trabajo con datos en entornos empresariales y preparan el camino para el desarrollo de aplicaciones robustas y escalables.
"""))

# Muestra el índice
display(Markdown("### **ÍNDICE**"))
display(Markdown("1. Intalación Librerías Necesarias\n2. Ejercicio 1-2: Descarga y creación del Dataset - Limpieza de datos\n3. Ejercicio 3: Transformación de los Datos\n4. Ejercicio 4: Cálculo de estadísticas\n5. Ejercicio 5: Programación Orientada a Objetos aplicada\n6. Ejercicio 6: Guardar en lista.txt y cambiar los NaN a 0\n7. Reflexión POO en Aplicaciones Empresariales\n8. Bibliografía"))

# **H1 SISTEMAS DE GESTIÓN EMPRESARIAL**

![Portada del Proyecto](portada.jpg)

## **Autor:** Adrián López Moya

## **Fecha:** 28 de octubre de 2024

## **Asignatura:** Sistemas de Sestión Empresarial

## **Campus FP**

Introducción

El presente trabajo consiste en el desarrollo de una serie de ejercicios diseñados para abordar de forma práctica el análisis y procesamiento de datos
mediante Python, así como para introducir conceptos fundamentales de la Programación Orientada a Objetos (POO). En primer lugar, se exploran técnicas
para la creación y limpieza de un dataset, donde se trabaja con datos estadísticos descargados del Instituto Nacional de Estadística (INE).
Este proceso incluye el tratamiento de valores nulos y la validación de datos, elementos críticos para asegurar la calidad y coherencia de la información en
los análisis posteriores.

Posteriormente, se implementan transformaciones y operaciones estadísticas para extraer información relevante, como la media, varianza y moda de los
datos, que permiten una mejor comprensión de las características del dataset. La última parte del trabajo introduce la POO, donde se diseñan clases y
métodos específicos para representar y manipular los datos de manera estructurada y reutilizable, facilitando su aplicación en sistemas de mayor
complejidad.

Cada ejercicio también incluye una reflexión teórica y práctica, donde se exploran y comparan distintos métodos de limpieza y organización de datos,
así como el impacto de la POO en la eficiencia de los procesos de manejo de información. En conjunto, estas actividades proporcionan una sólida base
para el trabajo con datos en entornos empresariales y preparan el camino para el desarrollo de aplicaciones robustas y escalables.

### **ÍNDICE**

1. Intalación Librerías Necesarias
2. Ejercicio 1-2: Descarga y creación del Dataset - Limpieza de datos
3. Ejercicio 3: Transformación de los Datos
4. Ejercicio 4: Cálculo de estadísticas
5. Ejercicio 5: Programación Orientada a Objetos aplicada
6. Ejercicio 6: Guardar en lista.txt y cambiar los NaN a 0
7. Reflexión POO en Aplicaciones Empresariales
8. Bibliografía

In [1]:
import sys
print(sys.version)
print(sys.executable)

3.11.9 (tags/v3.11.9:de54cf5, Apr  2 2024, 10:12:12) [MSC v.1938 64 bit (AMD64)]
C:\Users\USUARIO\Desktop\H1_SGE_Adrian_Lopez_Moya\venv\Scripts\python.exe

In [ ]:
# Intalación de las librerías necesarias
!pip install pandas
!pip install openpyxl
!pip install requests
!pip install scipy
!pip install pandas

In [25]:
import pandas as pd
import warnings
import openpyxl  # Importamos openpyxl para trabajar con archivos Excel
import requests

# Título del ejercicio
titulo = "Ejercicio 1-2: Descarga y creación del Dataset - Limpieza de datos:"
print(f"\n{titulo}\n{'='*len(titulo)}")

# Suprimir las advertencias para una salida más limpia
warnings.simplefilter("ignore", UserWarning)

# URL del archivo Excel del INE
url = "https://www.ine.es/jaxiT3/files/t/es/xlsx/65353.xlsx"

def obtener_y_procesar_datos(url):
    # Descargar el archivo
    archivo_local = "datos_ine.xlsx"
    respuesta = requests.get(url)
    with open(archivo_local, 'wb') as archivo:
        archivo.write(respuesta.content)

    # Cargar los datos en un DataFrame
    datos = pd.read_excel(archivo_local, engine='openpyxl', skiprows=7)

    # Identificar la fila con los nombres
    libro = openpyxl.load_workbook(archivo_local)
    hoja = libro.active

    fila_nombres = None
    for fila in hoja.iter_rows(min_row=1, max_row=10):
        if all(celda.value is not None for celda in fila):
            fila_nombres = fila[0].row
            break

    # Eliminar la fila del DataFrame
    if fila_nombres:
        datos = datos.drop(index=fila_nombres - 1)

    # Limpiar el DataFrame
    datos_limpios = datos.loc[:, ~datos.columns.str.contains('^Unnamed')]
    datos_limpios = datos_limpios.dropna(how='all')
    datos_limpios.fillna(0, inplace=True)
    datos_limpios.columns = datos_limpios.columns.str.strip()

    return datos_limpios

# Descargar y procesar los datos
datos_limpios = obtener_y_procesar_datos(url)

# Mostrar la tabla limpia
print("Tabla limpia:")
display(datos_limpios.head(10))  # `display` se usa para mostrar los primeros 10 registros del DataFrame limpio

# Guardar el DataFrame limpio en una variable
dataset = datos_limpios

# Mostrar información del dataset para verificar su estructura y contenido
print("Información del dataset:")
print(dataset.info())

Ejercicio 1-2: Descarga y creación del Dataset - Limpieza de datos:
===================================================================
Tabla limpia:

,,2024T3,2024T2,2024T1,2023T4,2023T3,2023T2,2023T1,2022T4,2022T3,...,2010T2.4,2010T1.4,2009T4.4,2009T3.4,2009T2.4,2009T1.4,2008T4.4,2008T3.4,2008T2.4,2008T1.4
0,Total Nacional,3.6,3.7,3.7,3.8,3.6,3.8,3.8,3.9,3.9,...,9.3,8.6,7.7,6.6,5.9,5.5,4.5,3.8,3.5,3.4
1,02 Albacete,9.4,8.9,10.7,10.7,9.3,7.5,9.4,9.7,9.4,...,11.7,11.5,9.3,7.2,6.3,7.6,6.6,4.1,3.5,3.8
2,03 Alicante/Alacant,2.6,2.3,2.2,2.4,2.3,2.7,2.5,2.4,3.1,...,10.7,10.6,10.3,7.5,6.2,6.6,5.5,4.2,4.5,3.7
3,04 Almería,21.3,22.5,20.8,20.4,18.5,21.6,22.5,21.5,20.2,...,11.0,9.4,8.0,9.6,10.5,8.9,6.6,5.8,4.2,3.4
4,01 Araba/Álava,0.9,0.8,1.7,1.8,1.6,1.6,1.5,2.7,1.1,...,4.3,5.2,5.1,3.7,1.7,1.6,0.9,1.7,1.7,1.5
5,33 Asturias,3.7,3.1,2.9,2.7,2.8,3.2,3.2,3.6,3.5,...,8.6,6.9,6.2,6.1,5.7,4.4,4.0,3.8,3.1,4.1
6,05 Ávila,7.8,9.2,9.4,9.4,9.2,10.7,7.7,9.2,9.2,...,10.5,11.6,9.6,7.9,6.5,5.9,4.5,3.4,2.7,2.8
8,"07 Balears, Illes",0.6,1.1,0.7,0.7,0.6,0.3,0.4,0.2,0.6,...,8.4,7.4,6.3,4.3,4.8,4.1,2.2,2.9,2.4,2.4
9,08 Barcelona,0.3,0.5,0.3,0.4,0.5,0.3,0.4,0.4,0.4,...,9.4,8.3,6.9,6.1,5.5,5.8,4.2,2.8,2.6,3.0
10,48 Bizkaia,0.1,0.3,0.5,0.5,0.2,0.5,0.7,0.8,0.5,...,5.9,5.3,6.0,5.4,5.1,4.3,3.8,3.0,2.9,3.3

Información del dataset:
<class 'pandas.core.frame.DataFrame'>
Index: 59 entries, 0 to 62
Columns: 336 entries,  to 2008T1.4
dtypes: float64(270), object(66)
memory usage: 155.3+ KB
None

In [32]:
import pandas as pd
import requests
import openpyxl
from IPython.display import display  # Importa display para mostrar la tabla en formato tabular

# Suprimir las advertencias
import warnings
warnings.filterwarnings("ignore", category=UserWarning)

# Título del ejercicio
titulo = "Ejercicio 3: Transformación de los Datos"
print(f"\n{titulo}\n{'='*len(titulo)}")

# URL y nombre de archivo para el archivo Excel del INE
URL_INE = "https://www.ine.es/jaxiT3/files/t/es/xlsx/65353.xlsx"
ARCHIVO_LOCAL = "datos_ine.xlsx"

def descargar_archivo(url, archivo):
    """Descarga el archivo desde la URL proporcionada y lo guarda en el sistema local."""
    respuesta = requests.get(url)
    with open(archivo, 'wb') as f:
        f.write(respuesta.content)

def cargar_y_transformar_datos(archivo):
    """Carga el archivo Excel en un DataFrame, renombra columnas, reemplaza NaN y transpone."""
    df = pd.read_excel(archivo, engine='openpyxl', skiprows=7, usecols='A:I', nrows=33)
    df.columns = ['Región', '2024T2', '2024T1', '2023T4', '2023T3', '2023T2', '2023T1', '2022T4', '2022T3']
    df.fillna(0, inplace=True)
    return df.set_index('Región').transpose()

# Descargar el archivo y procesar los datos
descargar_archivo(URL_INE, ARCHIVO_LOCAL)
df_transformado = cargar_y_transformar_datos(ARCHIVO_LOCAL)

# Mostrar el DataFrame transformado como tabla
print("Tabla transformada:")
display(df_transformado.head(10))  # Usamos display para que se vea como una tabla

# Extraer y mostrar colecciones de datos específicos
coleccion_2024T2 = df_transformado.loc['2024T2']
coleccion_2024T1 = df_transformado.loc['2024T1']
coleccion_2023T4 = df_transformado.loc['2023T4']

# Imprimir las colecciones como tabla
print("Colección 2024T2:")
display(coleccion_2024T2.to_frame())  # Convertimos a DataFrame para que display la muestre como tabla
print("Colección 2024T1:")
display(coleccion_2024T1.to_frame())
print("Colección 2023T4:")
display(coleccion_2023T4.to_frame())

Ejercicio 3: Transformación de los datos
========================================
Tabla transformada:

Región,Total Nacional,02 Albacete,03 Alicante/Alacant,04 Almería,01 Araba/Álava,33 Asturias,05 Ávila,06 Badajoz,"07 Balears, Illes",08 Barcelona,...,19 Guadalajara,21 Huelva,22 Huesca,23 Jaén,24 León,25 Lleida,27 Lugo,28 Madrid,29 Málaga,30 Murcia
2024T2,3.6,9.4,2.6,21.3,0.9,3.7,7.8,10.7,0.6,0.3,...,0.7,11.5,17.4,12.7,3.7,6.2,13.3,0.3,2.9,12.0
2024T1,3.7,8.9,2.3,22.5,0.8,3.1,9.2,10.2,1.1,0.5,...,1.4,14.2,14.7,14.9,4.1,6.5,14.3,0.3,2.5,12.7
2023T4,3.7,10.7,2.2,20.8,1.7,2.9,9.4,9.2,0.7,0.3,...,2.0,13.2,14.2,17.0,4.7,6.9,14.5,0.3,2.2,11.5
2023T3,3.8,10.7,2.4,20.4,1.8,2.7,9.4,9.2,0.7,0.4,...,1.9,15.5,14.2,16.1,3.9,10.0,14.5,0.4,2.2,11.0
2023T2,3.6,9.3,2.3,18.5,1.6,2.8,9.2,9.8,0.6,0.5,...,2.2,11.2,13.9,14.4,4.5,7.6,13.6,0.4,2.4,11.0
2023T1,3.8,7.5,2.7,21.6,1.6,3.2,10.7,9.7,0.3,0.3,...,1.7,15.4,10.2,14.4,4.3,8.0,13.7,0.4,2.6,12.1
2022T4,3.8,9.4,2.5,22.5,1.5,3.2,7.7,10.0,0.4,0.4,...,1.7,14.0,11.6,17.8,4.2,8.2,15.2,0.4,3.0,10.8
2022T3,3.9,9.7,2.4,21.5,2.7,3.6,9.2,10.0,0.2,0.4,...,2.2,10.8,13.9,15.0,3.7,10.7,14.2,0.4,2.9,12.0

Colección 2024T2:

                       2024T2
Región
Total Nacional            3.6
02 Albacete               9.4
03 Alicante/Alacant       2.6
04 Almería               21.3
01 Araba/Álava            0.9
33 Asturias               3.7
05 Ávila                  7.8
06 Badajoz               10.7
07 Balears, Illes         0.6
08 Barcelona              0.3
48 Bizkaia                0.1
09 Burgos                 2.5
10 Cáceres                7.7
11 Cádiz                  2.8
39 Cantabria              2.3
12 Castellón/Castelló     3.1
13 Ciudad Real            6.6
14 Córdoba                9.9
15 Coruña, A              5.1
16 Cuenca                 9.5
20 Gipuzkoa               1.4
17 Girona                 2.3
18 Granada                7.0
19 Guadalajara            0.7
21 Huelva                11.5
22 Huesca                17.4
23 Jaén                  12.7
24 León                   3.7
25 Lleida                 6.2
27 Lugo                  13.3
28 Madrid                 0.3
29 Málaga                 2.9
30 Murcia                12.0

Colección 2024T1:

                       2024T1
Región
Total Nacional            3.7
02 Albacete               8.9
03 Alicante/Alacant       2.3
04 Almería               22.5
01 Araba/Álava            0.8
33 Asturias               3.1
05 Ávila                  9.2
06 Badajoz               10.2
07 Balears, Illes         1.1
08 Barcelona              0.5
48 Bizkaia                0.3
09 Burgos                 4.6
10 Cáceres                9.6
11 Cádiz                  3.4
39 Cantabria              1.8
12 Castellón/Castelló     2.9
13 Ciudad Real            5.8
14 Córdoba               10.4
15 Coruña, A              5.0
16 Cuenca                 9.7
20 Gipuzkoa               1.4
17 Girona                 1.6
18 Granada                7.0
19 Guadalajara            1.4
21 Huelva                14.2
22 Huesca                14.7
23 Jaén                  14.9
24 León                   4.1
25 Lleida                 6.5
27 Lugo                  14.3
28 Madrid                 0.3
29 Málaga                 2.5
30 Murcia                12.7

Colección 2023T4:

                       2023T4
Región
Total Nacional            3.7
02 Albacete              10.7
03 Alicante/Alacant       2.2
04 Almería               20.8
01 Araba/Álava            1.7
33 Asturias               2.9
05 Ávila                  9.4
06 Badajoz                9.2
07 Balears, Illes         0.7
08 Barcelona              0.3
48 Bizkaia                0.5
09 Burgos                 5.6
10 Cáceres                8.0
11 Cádiz                  4.4
39 Cantabria              1.7
12 Castellón/Castelló     3.1
13 Ciudad Real            6.2
14 Córdoba               12.8
15 Coruña, A              5.6
16 Cuenca                11.2
20 Gipuzkoa               1.9
17 Girona                 2.2
18 Granada                6.7
19 Guadalajara            2.0
21 Huelva                13.2
22 Huesca                14.2
23 Jaén                  17.0
24 León                   4.7
25 Lleida                 6.9
27 Lugo                  14.5
28 Madrid                 0.3
29 Málaga                 2.2
30 Murcia                11.5

In [36]:
import pandas as pd
import requests
import openpyxl
from IPython.display import display

# Título del ejercicio
titulo = "Ejercicio 4: Guardar Datos Concatenados"
print(f"\n{titulo}\n{'='*len(titulo)}")

# Suprimir las advertencias
import warnings
warnings.filterwarnings("ignore", category=UserWarning)

# URL y nombre de archivo para el archivo Excel del INE
URL_INE = "https://www.ine.es/jaxiT3/files/t/es/xlsx/65353.xlsx"
ARCHIVO_LOCAL = "datos_ine.xlsx"

def descargar_archivo(url, archivo):
    respuesta = requests.get(url)
    with open(archivo, 'wb') as f:
        f.write(respuesta.content)

def cargar_y_transformar_datos(archivo):
    df = pd.read_excel(archivo, engine='openpyxl', skiprows=7, usecols='A:I', nrows=33)
    df.columns = ['Región', '2024T2', '2024T1', '2023T4', '2023T3', '2023T2', '2023T1', '2022T4', '2022T3']
    df.fillna(0, inplace=True)
    return df.set_index('Región').transpose()

# Descargar el archivo y procesar los datos
descargar_archivo(URL_INE, ARCHIVO_LOCAL)
df_transformado = cargar_y_transformar_datos(ARCHIVO_LOCAL)

# Concatenar todos los datos de las listas en un solo string, separados por espacios
datos_concatenados = ' '.join(map(str, df_transformado.values.flatten()))

# Guardar el string en un archivo de texto
with open("lista.txt", "w") as archivo:
    archivo.write(datos_concatenados)

# Mostrar el DataFrame transformado
display(df_transformado.head(10))

# Extraer colecciones específicas
coleccion_2024T2 = df_transformado.loc['2024T2']
coleccion_2024T1 = df_transformado.loc['2024T1']
coleccion_2023T4 = df_transformado.loc['2023T4']

print("Datos guardados en lista.txt.")

Ejercicio 4: Guardar Datos Concatenados
=======================================

Región,Total Nacional,02 Albacete,03 Alicante/Alacant,04 Almería,01 Araba/Álava,33 Asturias,05 Ávila,06 Badajoz,"07 Balears, Illes",08 Barcelona,...,19 Guadalajara,21 Huelva,22 Huesca,23 Jaén,24 León,25 Lleida,27 Lugo,28 Madrid,29 Málaga,30 Murcia
2024T2,3.6,9.4,2.6,21.3,0.9,3.7,7.8,10.7,0.6,0.3,...,0.7,11.5,17.4,12.7,3.7,6.2,13.3,0.3,2.9,12.0
2024T1,3.7,8.9,2.3,22.5,0.8,3.1,9.2,10.2,1.1,0.5,...,1.4,14.2,14.7,14.9,4.1,6.5,14.3,0.3,2.5,12.7
2023T4,3.7,10.7,2.2,20.8,1.7,2.9,9.4,9.2,0.7,0.3,...,2.0,13.2,14.2,17.0,4.7,6.9,14.5,0.3,2.2,11.5
2023T3,3.8,10.7,2.4,20.4,1.8,2.7,9.4,9.2,0.7,0.4,...,1.9,15.5,14.2,16.1,3.9,10.0,14.5,0.4,2.2,11.0
2023T2,3.6,9.3,2.3,18.5,1.6,2.8,9.2,9.8,0.6,0.5,...,2.2,11.2,13.9,14.4,4.5,7.6,13.6,0.4,2.4,11.0
2023T1,3.8,7.5,2.7,21.6,1.6,3.2,10.7,9.7,0.3,0.3,...,1.7,15.4,10.2,14.4,4.3,8.0,13.7,0.4,2.6,12.1
2022T4,3.8,9.4,2.5,22.5,1.5,3.2,7.7,10.0,0.4,0.4,...,1.7,14.0,11.6,17.8,4.2,8.2,15.2,0.4,3.0,10.8
2022T3,3.9,9.7,2.4,21.5,2.7,3.6,9.2,10.0,0.2,0.4,...,2.2,10.8,13.9,15.0,3.7,10.7,14.2,0.4,2.9,12.0

Datos guardados en lista.txt.

In [40]:
import pandas as pd
import requests
import openpyxl
from IPython.display import display

# Título del ejercicio
titulo = "Ejercicio 5: Operaciones Estadísticas"
print(f"\n{titulo}\n{'='*len(titulo)}")

# Suprimir las advertencias
import warnings
warnings.filterwarnings("ignore", category=UserWarning)

# URL y nombre de archivo para el archivo Excel del INE
URL_INE = "https://www.ine.es/jaxiT3/files/t/es/xlsx/65353.xlsx"
ARCHIVO_LOCAL = "datos_ine.xlsx"

def descargar_archivo(url, archivo):
    respuesta = requests.get(url)
    with open(archivo, 'wb') as f:
        f.write(respuesta.content)

def cargar_y_transformar_datos(archivo):
    df = pd.read_excel(archivo, engine='openpyxl', skiprows=7, usecols='A:I', nrows=33)
    df.columns = ['Región', '2024T2', '2024T1', '2023T4', '2023T3', '2023T2', '2023T1', '2022T4', '2022T3']
    df.fillna(0, inplace=True)
    return df.set_index('Región').transpose()

# Descargar el archivo y procesar los datos
descargar_archivo(URL_INE, ARCHIVO_LOCAL)
df_transformado = cargar_y_transformar_datos(ARCHIVO_LOCAL)

def calcular_estadisticas(df):
    """Calcula la media, varianza y moda de cada columna en el DataFrame."""
    estadisticas = {
        'Columna': [],
        'Media': [],
        'Varianza': [],
        'Moda': []
    }
    
    for columna in df.columns:
        estadisticas['Columna'].append(columna)
        estadisticas['Media'].append(df[columna].mean())
        estadisticas['Varianza'].append(df[columna].var())
        moda = df[columna].mode()
        estadisticas['Moda'].append(moda.iloc[0] if not moda.empty else None)
    
    return pd.DataFrame(estadisticas)

# Calcular estadísticas y mostrar con display
estadisticas_df = calcular_estadisticas(df_transformado)
print("Estadísticas de las columnas:")
display(estadisticas_df)

Ejercicio 5: Operaciones Estadísticas
=====================================
Estadísticas de las columnas:

                      Columna    Media  Varianza  Moda
0              Total Nacional   3.7375  0.011250   3.8
1                 02 Albacete   9.4500  1.045714   9.4
2         03 Alicante/Alacant   2.4250  0.027857   2.3
3                  04 Almería  21.1375  1.671250  22.5
4              01 Araba/Álava   1.5750  0.342143   1.6
5                 33 Asturias   3.1500  0.128571   3.2
6                    05 Ávila   9.0750  0.916429   9.2
7                  06 Badajoz   9.8500  0.251429   9.2
8           07 Balears, Illes   0.5750  0.079286   0.6
9                08 Barcelona   0.3875  0.006964   0.3
10                 48 Bizkaia   0.4500  0.057143   0.5
11                  09 Burgos   4.8750  1.899286   2.5
12                 10 Cáceres   8.7125  0.552679   8.5
13                   11 Cádiz   3.6000  0.254286   3.6
14               39 Cantabria   2.1125  0.221250   1.7
15      12 Castellón/Castelló   3.0750  0.190714   3.1
16             13 Ciudad Real   6.6375  0.308393   6.2
17                 14 Córdoba  11.0750  0.976429   9.9
18               15 Coruña, A   5.4750  0.145000   5.1
19                  16 Cuenca  10.9500  2.188571   9.1
20                20 Gipuzkoa   1.7875  0.235536   1.4
21                  17 Girona   2.0500  0.111429   2.1
22                 18 Granada   6.8250  1.022143   6.7
23             19 Guadalajara   1.7250  0.245000   1.7
24                  21 Huelva  13.2250  3.487857  10.8
25                  22 Huesca  13.7625  4.556964  13.9
26                    23 Jaén  15.2875  2.629821  14.4
27                    24 León   4.1375  0.131250   3.7
28                  25 Lleida   8.0125  2.598393   6.2
29                    27 Lugo  14.1625  0.371250  14.5
30                  28 Madrid   0.3625  0.002679   0.4
31                  29 Málaga   2.5875  0.101250   2.2
32                  30 Murcia  11.6375  0.448393  11.0

In [41]:
import pandas as pd
import requests
import openpyxl
from IPython.display import display

# Título del ejercicio
titulo = "Ejercicio 6: Programación Orientada a Objetos"
print(f"\n{titulo}\n{'='*len(titulo)}")

# Suprimir las advertencias de UserWarning (por posibles advertencias de openpyxl)
import warnings
warnings.filterwarnings("ignore", category=UserWarning)

# URL y nombre del archivo Excel de datos del INE
URL_INE = "https://www.ine.es/jaxiT3/files/t/es/xlsx/65353.xlsx"
ARCHIVO_LOCAL = "datos_ine.xlsx"

# Descargar y cargar datos en un DataFrame
def descargar_archivo(url, archivo):
    """
    Descarga el archivo desde la URL especificada y guarda el contenido en archivo.
    Esto se hace para manejar el archivo en local y no depender siempre de una URL.
    """
    respuesta = requests.get(url)
    with open(archivo, 'wb') as f:
        f.write(respuesta.content)

def cargar_y_transformar_datos(archivo):
    """
    Carga el archivo Excel en un DataFrame de pandas, omitiendo filas y columnas innecesarias.
    Los datos son transformados para facilitar el análisis.
    """
    df = pd.read_excel(archivo, engine='openpyxl', skiprows=7, usecols='A:I', nrows=33)
    df.columns = ['Región', '2024T2', '2024T1', '2023T4', '2023T3', '2023T2', '2023T1', '2022T4', '2022T3']
    df.fillna(0, inplace=True)  # Rellena valores NaN con 0 para evitar problemas en cálculos posteriores
    return df.set_index('Región')  # Usa 'Región' como índice para facilitar el acceso por región

# Descargar y cargar el archivo
descargar_archivo(URL_INE, ARCHIVO_LOCAL)
df_transformado = cargar_y_transformar_datos(ARCHIVO_LOCAL)

# Definir la clase
class RegionData:
    def __init__(self, region, t2024_q2, t2024_q1, t2023_q4, t2023_q3, t2023_q2, t2023_q1, t2022_q4, t2022_q3):
        """
        Constructor de la clase. Define cada columna del DataFrame como un atributo.
        Se elige pasar cada valor como argumento para que los objetos sean independientes
        del DataFrame y puedan manipularse de forma autónoma.
        """
        self.region = region
        self.t2024_q2 = t2024_q2
        self.t2024_q1 = t2024_q1
        self.t2023_q4 = t2023_q4
        self.t2023_q3 = t2023_q3
        self.t2023_q2 = t2023_q2
        self.t2023_q1 = t2023_q1
        self.t2022_q4 = t2022_q4
        self.t2022_q3 = t2022_q3
    
    # Imprimir los datos de los atributos
    def __str__(self):
        """
        Redefine el método __str__ para mostrar los datos del objeto.
        Permite que la representación de un objeto en consola sea clara y concisa.
        """
        return (f"Región: {self.region}, 2024T2: {self.t2024_q2}, 2024T1: {self.t2024_q1}, "
                f"2023T4: {self.t2023_q4}, 2023T3: {self.t2023_q3}, 2023T2: {self.t2023_q2}, "
                f"2023T1: {self.t2023_q1}, 2022T4: {self.t2022_q4}, 2022T3: {self.t2022_q3}")

    # Métodos para modificar atributos
    def set_value(self, attr, value):
        """
        Método genérico para modificar el valor de un atributo especificado.
        Esto es más flexible que tener un método separado para cada atributo.
        """
        if hasattr(self, attr):
            setattr(self, attr, value)

    # Método especial para comparar objetos por la columna 2024T2
    def __lt__(self, other):
        """
        Redefine el operador < para comparar objetos basándose en '2024T2'.
        Esto es útil para clasificar o buscar elementos según la columna principal.
        """
        return self.t2024_q2 < other.t2024_q2

    def __eq__(self, other):
        """
        Redefine el operador == para comparar objetos según la columna '2024T2'.
        Facilita verificar si dos objetos son iguales en términos de esta columna.
        """
        return self.t2024_q2 == other.t2024_q2

    # Suma y resta de los atributos
    def __add__(self, other):
        """
        Redefine el operador + para sumar los valores de cada atributo.
        Devuelve un nuevo objeto con la suma de los valores de cada columna.
        Permite manejar operaciones aritméticas entre objetos de esta clase.
        """
        return RegionData(
            self.region,
            self.t2024_q2 + other.t2024_q2,
            self.t2024_q1 + other.t2024_q1,
            self.t2023_q4 + other.t2023_q4,
            self.t2023_q3 + other.t2023_q3,
            self.t2023_q2 + other.t2023_q2,
            self.t2023_q1 + other.t2023_q1,
            self.t2022_q4 + other.t2022_q4,
            self.t2022_q3 + other.t2022_q3
        )
    
    def __sub__(self, other):
        """
        Redefine el operador - para restar los valores de cada atributo.
        Devuelve un nuevo objeto con la resta de los valores de cada columna.
        Útil para comparar y analizar diferencias entre instancias.
        """
        return RegionData(
            self.region,
            self.t2024_q2 - other.t2024_q2,
            self.t2024_q1 - other.t2024_q1,
            self.t2023_q4 - other.t2023_q4,
            self.t2023_q3 - other.t2023_q3,
            self.t2023_q2 - other.t2023_q2,
            self.t2023_q1 - other.t2023_q1,
            self.t2022_q4 - other.t2022_q4,
            self.t2022_q3 - other.t2022_q3
        )

# Crear objetos para las primeras cinco filas del DataFrame y probar los métodos
regiones = [RegionData(row[0], *row[1:]) for row in df_transformado.reset_index().head(5).values]

# Imprimir los objetos y probar métodos
for region in regiones:
    print(region)  # Muestra cada objeto usando el método __str__

# Modificar y comparar
regiones[0].set_value('t2024_q2', 150)  # Cambia el valor de 2024T2 en la primera región
print("\nComparación de la primera y segunda región:", regiones[0] < regiones[1])

# Suma y resta de objetos
suma_regiones = regiones[0] + regiones[1]
resta_regiones = regiones[0] - regiones[1]
print("\nSuma de atributos de las primeras dos regiones:\n", suma_regiones)
print("\nResta de atributos de las primeras dos regiones:\n", resta_regiones)

Ejercicio 6: Programación Orientada a Objetos
=============================================
Región:     Total Nacional, 2024T2: 3.6, 2024T1: 3.7, 2023T4: 3.7, 2023T3: 3.8, 2023T2: 3.6, 2023T1: 3.8, 2022T4: 3.8, 2022T3: 3.9
Región:     02 Albacete, 2024T2: 9.4, 2024T1: 8.9, 2023T4: 10.7, 2023T3: 10.7, 2023T2: 9.3, 2023T1: 7.5, 2022T4: 9.4, 2022T3: 9.7
Región:     03 Alicante/Alacant, 2024T2: 2.6, 2024T1: 2.3, 2023T4: 2.2, 2023T3: 2.4, 2023T2: 2.3, 2023T1: 2.7, 2022T4: 2.5, 2022T3: 2.4
Región:     04 Almería, 2024T2: 21.3, 2024T1: 22.5, 2023T4: 20.8, 2023T3: 20.4, 2023T2: 18.5, 2023T1: 21.6, 2022T4: 22.5, 2022T3: 21.5
Región:     01 Araba/Álava, 2024T2: 0.9, 2024T1: 0.8, 2023T4: 1.7, 2023T3: 1.8, 2023T2: 1.6, 2023T1: 1.6, 2022T4: 1.5, 2022T3: 2.7

Comparación de la primera y segunda región: False

Suma de atributos de las primeras dos regiones:
 Región:     Total Nacional, 2024T2: 159.4, 2024T1: 12.600000000000001, 2023T4: 14.399999999999999, 2023T3: 14.5, 2023T2: 12.9, 2023T1: 11.3, 2022T4: 13.2, 2022T3: 13.6

Resta de atributos de las primeras dos regiones:
 Región:     Total Nacional, 2024T2: 140.6, 2024T1: -5.2, 2023T4: -6.999999999999999, 2023T3: -6.8999999999999995, 2023T2: -5.700000000000001, 2023T1: -3.7, 2022T4: -5.6000000000000005, 2022T3: -5.799999999999999


# Reflexión POO en Aplicaciones Empresariales
La Programación Orientada a Objetos (POO) ayuda en aplicaciones empresariales al organizar y estructurar datos y comportamientos asociados. Con POO, los datos y métodos que les pertenecen se encapsulan en una clase, permitiendo una representación más intuitiva y escalable de los datos.

Por ejemplo, en aplicaciones empresariales para gestionar información de clientes, cada cliente podría ser un objeto con atributos como nombre, dirección, historial de compras y métodos para modificar estos datos de manera controlada. La encapsulación protege estos datos y la herencia permite crear objetos especializados a partir de objetos más generales.

En mi opinión, la POO es beneficiosa en entornos empresariales porque permite crear sistemas más modulares y fáciles de mantener. Los objetos representan de forma natural las entidades del negocio, lo que facilita el desarrollo y mantenimiento del código.

# Bibliografía

Conda Documentation — conda-docs documentation. (n.d.). Conda.Io. Retrieved October 27, 2024, from https://docs.conda.io/en/latest/

Programación Orientada a objetos. (n.d.). El Libro De Python. Retrieved October 27, 2024, from https://ellibrodepython.com/programacion-orientada-a-objetos-python

Project Jupyter Documentation — Jupyter Documentation 4.1.1 alpha documentation. (n.d.). Jupyter.org. Retrieved October 27, 2024, from https://docs.jupyter.org/en/latest/

Quick start guide. (n.d.). PyCharm Help. Retrieved October 27, 2024, from https://www.jetbrains.com/help/pycharm/quick-start-guide.html